.FullCountry {
  a {
    text-decoration: none;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 5rem;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5rem;
  height: 75vh;

  &Info {
    display: flex;
    justify-content: space-evenly;

    &Info {
      &Info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &Left {
          margin-right: 8rem;
        }
      }
    }
  }
  img {
    width: 34rem;
    margin-bottom: 2rem;
  }
}
